@using BusinessLogics.ViewModels
@model List<CategoryVM> 

<div class="text-center" >
    <h2 style="margin-bottom: 20px;" class="display-4">Категории рецептов</h2>
</div>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item" style="font-size: 20px; text-align: center">
            <a asp-action="Category" asp-route-categoryId="@category.Id" style="color: black;">
                @category.Description
            </a>
        </li>
    }
</ul>