@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using BusinessLogics.ViewModels
@model List<CategoryVM> 

<h2>Категории Рецептов</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="Category" asp-route-categoryId="@category.Id">
                @category.Description
            </a>
        </li>
    }
</ul>